<%- include('partials/header'); -%>

<header>


    <div class="vectorContainer">
      <div class="vector">
        <img src="/vector1.png" alt="">
      </div>

      <div class="headings">
        <h2>Wellcome to</h2>
        <h3>Gusto Remote Team</h3>
        <a href="/programmers" class="btn">View Gusto Team</a>
      </div>
    </div>

  </div>




</header>

<%- include('partials/footer'); -%>