<%- include('partials/header'); -%>

<header>
  <div class="container">

    <div class="vector_container">
      <div class="vector">
        <img src="/vector1.png" alt="">
      </div>

      <div class="headings">
        <h2>Wellcome to</h2>
        <h3>Gusto Remote Team</h3>
        <a href="/programmers" class="btn">View Gusto Team</a>
      </div>
    </div>

    <div class="logo">
      <!-- <img src="/gusto2.jpeg" alt=""> -->
      <div class="logo_p">

        <p> Building and growing a great business starts with hiring the right people. But for decades, large
          corporations have had a distinct advantage—crossing state lines and going global to tap into new talent pools.
          Backed by all the money, people power, and resources they need, big businesses are able to navigate the
          complexities of multi-state and international labor laws and tax compliance issues. Meanwhile, startups and
          growing businesses that would benefit from extending their reach into the worldwide workforce have
          historically been left behind, boxed in by geographical limits in hiring.

          Geographic borders can no longer be barriers to hiring the best talent available. And businesses of all sizes
          deserve accessible, affordable technology that levels the playing field, bridges the talent gap, and helps
          them build representative, diverse teams. That’s why we’re shipping several new features, including
          international contractor payments in 80 countries and simplified business registration in all 50 states +
          Washington DC. And we’ve acquired Remote Team, Inc. (“RemoteTeam”)—which enables growing businesses to hire
          remote workers internationally. </p>
      </div>
    </div>


  </div>
</header>


<%- include('partials/footer'); -%>