<%- include('partials/header'); -%>

<ul class="programmers">
  <li class="programmer">
    <img src="/gusto.png" alt=" gusto logo">
    <h4>Azat Seyrek</h4>
    <p>NodeJs Developer</p>
  </li>
  <li class="programmer">
    <img src="/gusto.png" alt=" gusto logo">
    <h4>Azat Seyrek</h4>
    <p>NodeJs Developer</p>
  </li>
  <li class="programmer">
    <img src="/gusto.png" alt=" gusto logo">
    <h4>Azat Seyrek</h4>
    <p>NodeJs Developer</p>
  </li>
  <li class="programmer">
    <img src="/gusto.png" alt=" gusto logo">
    <h4>Azat Seyrek</h4>
    <p>NodeJs Developer</p>
  </li>
</ul>

<%- include('partials/footer'); -%>